/* 字体设置 */
body {
  font-family: "LXGW WenKai Screen", "Noto Serif SC", "PingFang SC", "Microsoft YaHei", sans-serif;
}
code, pre {
  font-family: "JetBrains Mono", "Fira Code", monospace;
}
/* 背景图设置 */
#web_bg {
  background: url(/img/bg.jpeg);
  background-repeat: no-repeat;  /* 防止图片重复平铺 */
  background-attachment: fixed;  /* 让背景图固定，不随滚动条滚动 */
  background-size: cover;        /* 让背景图缩放至完全覆盖屏幕 */
}

/* 鼠标跟随图标特效 */
 body {
    cursor: none;
 }
.mouseImg {
    position: fixed;
    width: 30px;
    height: 30px;
    pointer-events: none;       /* 让跟随图标不拦截鼠标事件 */
    z-index: 99999;
    transition: transform 0.1s;
    background: url(/img/mouse.png) center/cover no-repeat;
}
a {
    cursor: none;
}
a:hover .mouseImg{
    transform: scale(1.3);
}



/* loading 特效 */
#custom-loader {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /******/
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: rgb(3, 45, 73);
    
}
.load-bg{
    filter: blur(30px);
    transition: opacity 0.6s ease;
}
.loader-text{
    color: aliceblue;
    font-size: 50px;
    text-shadow: 3px 3px 15px;
}
